<!DOCTYPE html>
<html>
	<head lang="en">
		<title>Login and Registration</title>
	</head>
	<body>
		{% if messages %}
			{% for message in messages %}
				{% if message.tags == 'error' %}
					<p style="color: red">{{message}}</p>
				{%endif%}
				{% if message.tags == 'success' %}
					<p style="color: green">{{message}}</p>
				{%endif%}
			{%endfor%}
		{%endif%}

		<h1>Login:</h1>
		<form action="/login" method="post">
		{% csrf_token %}
			<label>Email:</label>
			<input type="text" name="email">
			<br><br>
			<label>Password:</label>
			<input type="password" name="password">
			<br><br>
			<input type="submit" value="Login">
		</form>
		<br><br>
		<h1>Register:</h1>
		<form action="/register" method="post">
		{% csrf_token %}
			<label>First Name:</label>
			<input type="text" name="first_name">
			<br><br>
			<label>Last Name:</label>
			<input type="text" name="last_name">
			<br><br>
			<label>Email:</label>
			<input type="text" name="email">
			<br><br>
			<label>Password:</label>
			<input type="password" name="password">
			<br><br>
			<label>Confirm Password:</label>
			<input type="password" name="con_password">
			<br><br>
			<input type="submit" value="Register">
		</form>
	</body>
</html>
